/* Dialog */
.p-dialog {
  padding: 20px 15px;
  background-color: var(--color-grey-700);
  border-radius: 15px;

  & .p-dialog-header {
    padding: 0;
    padding-bottom: 15px;
    background-color: transparent;
  };

  & .p-dialog-content {
    padding: 0;
    background-color: transparent;
  };
  & .p-dialog-header-icon {
    color: var(--color-white);
  }
};

/*
p-dialog	Container element.
p-dialog-titlebar	Container of header.
p-dialog-title	Header element.
p-dialog-titlebar-icon	Icon container inside header.
p-dialog-titlebar-close	Close icon element.
p-dialog-content
*/