/* Inputswitch */
.p-inputswitch  {
  width: 39px;
  height: 16px;

  @include desktop {
    width: 60px;
    height: 25px;
  };

  & .p-inputswitch-input:hover + .p-inputswitch-slider::before {
    background-color: var(--color-grey-700);
  };

  & .p-inputswitch-slider {
    background-color: var(--color-grey-300);

    &::before {
      width: 13px;
      height: 13px;
      top: 55%;
      background-color: var(--color-grey-500);

      @include desktop {
        width: 20px;
        height: 20px;
        top: 45%;
      };
    };
  };

  &.p-highlight {
    & .p-inputswitch-slider {
      &::before {
        background-color: var(--color-grey-900);
        transform: translateX(20px);

        @include desktop {
          transform: translateX(32px);
        };
      };
    };
  };
};